<!DOCTYPE html>
    <html lang="pl">
        <head>
            <meta charset="UTF-8">
            <title>Blog dla programistów</title>
        </head>
<body>
    <div>
        <h1>Witam na stronie bloga!</h1>
        <h2>Blog o programowaniu!</h2>
        <h3>Autor: nieznan</h3>
        <h4>Wszelkie prawa</h4>
    </div>
    <div>
        <p>To jest akapit</p>
        <em> to jest wyróżniony tekst</em><br>
        <strong>to jest pogrubiony tekst</strong>
        <a href="http://st-tech.pl/">STITCH TECHNOLOGY</a>
    </div>

    <div>
        <ul>
            <li>lista</li>
            <li>lista</li>
            <li>lista</li>
        </ul>
    </div>

</body>
</html>